html {
  /*font-size: 14px;*/ /*Tamaño de 14 píxeles*/
  background-color: #FFF5F0;
  font;
  font-family: 'Comfortaa', cursive;
}

body{
  width: 600px;
  margin: 0 auto;
  background-color: #FFFDFA; /*Color del Body*/
  padding: 0 20px 20px 20px;/*Margen del body*/
  /*border: 1px solid #E0B482;*/ /*borde del body*/
}

h1{
  margin:0;
  padding: 20px 0;
  color: #293861;
  /*text-shadow: 3px 1px 1px #3E5594;*/
}

h2{
  margin:0;
  padding: 10px 0;
  color: #3E5594;
  /*text-shadow: 3px 1px 1px #3E5594;*/
}

h3{
  margin:0;
  padding: 5px 0;
  color: #4D6BBB;
  /*text-shadow: 3px 1px 1px #3E5594;*/
}